<div class="redirect-page">
<div class="text-center">
This page already exists.  Redirecting you to it in 3 seconds... <i class="fa fa-refresh fa-spin fa-3x"></i>
</div>
</div>
<script id="cookiemonster">
$(document).ready(function(){

var redirect = window.setTimeout(function(){
	console.log('yo')
	window.location.href="<%=path%>"
}, 3000)

})

$('#cookiemonster').remove()
</script>