<div class="row">
	<div class="large-3 small-3 columns">
		<h2 class="page-title"> <%=title%> </h2>
	</div>
</div>
<form action="<%=returnPath + '/new'%>" method="POST">
<div class="row">
	<div class="large-10 small-10 columns large-offset-1 small-offset-1">
		<textarea id="content" name="content" autofocus placeholder="Enter content for a new page"> </textarea>
	</div>
	</div>
	<div class="row">
		
		<div class="large-10 small-10 columns large-offset-1 small-offset-1">
		Tags
		<input type="text" name="tags" id="tags">
	</div>
</div>
<div class="row">
	<div class="full columns">
		<button class="tiny right" type="submit">Submit</button> 
	</div>
</div>

	</form>
